.colorBlanco {
  color: white; }

.redes__color--blanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.formulario__input--medio:hover {
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

/* bucles */
.fontTamanio1 {
  font-size: 10px; }

.fontTamanio2 {
  font-size: 20px; }

.fontTamanio3 {
  font-size: 30px; }

.fontTamanio4 {
  font-size: 40px; }

.fontTamanio5 {
  font-size: 50px; }

.fontTamanio6 {
  font-size: 60px; }

.fontTamanio7 {
  font-size: 70px; }

.fontTamanio8 {
  font-size: 80px; }

.fontTamanio9 {
  font-size: 90px; }

.fontTamanio10 {
  font-size: 100px; }

.row {
  display: flex; }

.d-flex {
  justify-content: center; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

/* bucles */
.fontTamanio1 {
  font-size: 10px; }

.fontTamanio2 {
  font-size: 20px; }

.fontTamanio3 {
  font-size: 30px; }

.fontTamanio4 {
  font-size: 40px; }

.fontTamanio5 {
  font-size: 50px; }

.fontTamanio6 {
  font-size: 60px; }

.fontTamanio7 {
  font-size: 70px; }

.fontTamanio8 {
  font-size: 80px; }

.fontTamanio9 {
  font-size: 90px; }

.fontTamanio10 {
  font-size: 100px; }

.colorBlanco {
  color: white; }

.redes__color--blanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.formulario__input--medio:hover {
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

/* camelCase */
.padding {
  padding-left: 0px;
  padding-right: 0px; }

.paddingT {
  padding-top: 40px; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

/* editados de BEM */
.redes__padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  text-decoration: none; }

/* sin camelCase */
.padding__botton {
  padding-bottom: 40px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.d-flex {
  justify-content: center; }

.footer__margin {
  margin-bottom: 3px; }

.formulario__boxmod {
  display: flex;
  justify-content: space-around;
  align-content: center; }

.boxMod__nosotros {
  padding-top: 45px;
  padding-bottom: 45px; }

.boxMod__entrevista {
  padding-top: 50px;
  padding-bottom: 25px; }

.boxMod__border {
  border-style: solid; }

.boxMod__centrar--elemento {
  display: flex;
  justify-content: center;
  align-items: center; }

/* mixin */
.boxMod__nosotros {
  padding-top: 45px;
  padding-bottom: 45px; }

.boxMod__entrevista {
  padding-top: 50px;
  padding-bottom: 25px; }

.padding__top--botton {
  padding-top: 50px;
  padding-bottom: 50px; }

@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; } }

.colorBlanco {
  color: white; }

.redes__color--blanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.formulario__input--medio:hover {
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

.fondo {
  background-color: #d1af59;
  width: 100%; }

.contenido__background {
  background-color: #003614; }

.backgroundVerde {
  background-color: #003614; }

.background__gold {
  background-color: #d1af59; }

/* extend */
.formulario__input, .formulario__input--medio {
  background-color: black;
  color: #a3790e; }

.formulario__input--medio {
  color: white; }

/* predeterminadas */
.fontGoogle {
  font-family: 'Jost', sans-serif;
  font-weight: 600; }

.fontGold {
  color: #a3790e; }

.fuente__google--contenido {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  text-align: left;
  color: black; }

.font__google--black {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  color: black; }

.footer__fuente {
  font-size: 20px;
  text-align: center; }

.font__encabezado {
  font-size: 50px; }

.font__parrafo {
  font-size: 30px; }

.font__encabezado--fideos {
  font-size: 50px; }

.font__parrafo--fideos {
  font-size: 30px; }

.font__center {
  text-align: center; }

.font__left {
  text-align: left; }

.font__zise--nosotros {
  font-size: 40px; }

.font__zise--parrafo {
  font-size: 20px; }

/*map-get*/
.font_adrogue {
  font-size: 40px; }

.font__encabezado--fideos {
  font-size: 50px; }

.fontCenter {
  text-align: center; }

/* FORMULARIO/CONTACTO */
.fuente__acceso {
  color: #a3790e;
  text-align: center; }

.styleOut {
  list-style: none; }

/* SUCURSALES */
/* vista mobile */
@media only screen and (max-width: 767px) {
  .footer__fuente {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-bottom: 3px; }
  .imgLogo {
    width: 200px;
    height: 200px; }
  .logoSuperior {
    width: 60px;
    height: 30px; }
  .fuente__google--contenido {
    text-align: center; } }
