@charset "UTF-8";
.colorNegro {
  color: black; }

.colorBlanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.colorFondo {
  color: #d1af59; }

.redes__color--blanco {
  color: #a3790e; }

.redes__color--verde {
  color: #003614; }

.verde {
  color: #003614; }

.linkG:hover {
  color: #a3790e;
  text-decoration: none; }

.linkW:hover {
  color: white;
  text-decoration: none; }

.linkV:hover {
  color: #003614;
  text-decoration: none; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

.navbar__color {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-toggler {
  background-color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white; } }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.contenido__img {
  width: 500px;
  height: 400px; }

.tamanioDesktop {
  width: 100px;
  height: 50px; }

.carousel-inner {
  width: 100%;
  height: 20%; }

.horarios__img {
  width: 100%;
  height: 100%; }

.footer__img {
  width: 100px;
  height: 50px; }

.img-slider {
  width: 200px;
  height: 200px; }

@media only screen and (max-width: 767px) {
  .padFiambre {
    padding-top: 50px; }
  .contenido__img {
    width: 400px;
    height: 300px;
    padding: 30px; }
  .logoSuperior {
    width: 100px;
    height: 50px; }
  .tamanioTitulo {
    font-size: 50px; }
  .tamanioParrafo {
    font-size: 25px; }
  .tamanioResto {
    font-size: 20px; }
  .iframe {
    height: 250px; } }

.row {
  display: flex; }

.d-flex {
  justify-content: center; }

* {
  padding: 0px;
  margin: 0px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.contenido__img {
  width: 500px;
  height: 400px; }

.tamanioDesktop {
  width: 100px;
  height: 50px; }

.carousel-inner {
  width: 100%;
  height: 20%; }

.horarios__img {
  width: 100%;
  height: 100%; }

.footer__img {
  width: 100px;
  height: 50px; }

.img-slider {
  width: 200px;
  height: 200px; }

@media only screen and (max-width: 767px) {
  .padFiambre {
    padding-top: 50px; }
  .contenido__img {
    width: 400px;
    height: 300px;
    padding: 30px; }
  .logoSuperior {
    width: 100px;
    height: 50px; }
  .tamanioTitulo {
    font-size: 50px; }
  .tamanioParrafo {
    font-size: 25px; }
  .tamanioResto {
    font-size: 20px; }
  .iframe {
    height: 250px; } }

.colorNegro {
  color: black; }

.colorBlanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.colorFondo {
  color: #d1af59; }

.redes__color--blanco {
  color: #a3790e; }

.redes__color--verde {
  color: #003614; }

.verde {
  color: #003614; }

.linkG:hover {
  color: #a3790e;
  text-decoration: none; }

.linkW:hover {
  color: white;
  text-decoration: none; }

.linkV:hover {
  color: #003614;
  text-decoration: none; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

.navbar__color {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-toggler {
  background-color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white; } }

/* camelCase */
.display {
  display: none; }

.padding {
  padding-left: 0px;
  padding-right: 0px; }

.paddingSpace {
  padding: 5px; }

.paddingT {
  padding-top: 40px; }

.paddingB {
  padding-bottom: 40px; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

.margin {
  margin: 10px; }

.marginB {
  margin-bottom: 5px; }

.marginBB {
  margin-bottom: 18px; }

.boxmodCentrar {
  display: flex;
  justify-content: center;
  align-items: center; }

.boxmodIzq {
  display: flex;
  justify-content: center;
  align-items: center; }

/* editados de BEM */
.redes__padding {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;
  text-decoration: none; }

.nosotros {
  padding-bottom: 60px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.d-flex {
  justify-content: center; }

.footer__margin {
  margin-bottom: 3px; }

.footer__telefono {
  padding-top: 75px; }

.footer__seguinos {
  padding-top: 25px; }

.footer__paddingTB {
  padding-top: 40px;
  padding-bottom: 10px; }

.imgRedonda {
  width: 300px;
  height: 300px;
  border-radius: 150px; }

@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; } }

@media only screen and (max-width: 767px) {
  .paddingTBmobile {
    padding-top: 40px;
    padding-bottom: 20px; }
  .formulario__boxmod {
    width: 350px; }
  .footer__img--mobile {
    padding-top: 25px;
    padding-bottom: 25px; }
  .paddingTmobile {
    padding-top: 0px; }
  .footer__telefono {
    padding-top: 30px; } }

.colorNegro {
  color: black; }

.colorBlanco {
  color: white; }

.color__gold {
  color: #a3790e; }

.colorFondo {
  color: #d1af59; }

.redes__color--blanco {
  color: #a3790e; }

.redes__color--verde {
  color: #003614; }

.verde {
  color: #003614; }

.linkG:hover {
  color: #a3790e;
  text-decoration: none; }

.linkW:hover {
  color: white;
  text-decoration: none; }

.linkV:hover {
  color: #003614;
  text-decoration: none; }

.redes__color--twitter:hover {
  color: #41aaeb; }

.redes__color--facebook:hover {
  color: #181877; }

.redes__color--instagram:hover {
  color: #992f6d; }

.formulario__input:hover, .formulario__input--medio:hover {
  background-color: white;
  color: black; }

.entrevista__color {
  color: #a3790e; }

.footer__fuente {
  color: white; }

.navbar__color {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link {
  color: #a3790e; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-toggler {
  background-color: white; }

/* each */
.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white; } }

.fondo {
  background-color: #d1af59;
  width: 100%; }

.fondo-img {
  background-image: url(../assets/img/ravioles-dc.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-img-fideos {
  background-image: url(../assets/img/fideos-dc.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fondo-img-ñoquis {
  background-image: url(../assets/img/ñoquis-dc.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* .paralax {
    background-image: url(../img/Green\ and\ Yellow\ Plate\ of\ Pasta\ Direct\ Mail\ Postcard.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    margin-bottom: 50px;
} */
.backgroundVerde {
  background-color: #003614; }

.backgroundGold {
  background-color: #d1af59; }

.backgroundBlanco {
  background-color: white; }

.backgroundOscuro {
  background-color: #222222; }

.backgroundLogoSup {
  background-color: rgba(255, 255, 255, 0.815); }

.borderBlanco {
  box-shadow: 7px 13px 37px white; }

.borderNegro {
  box-shadow: 7px 13px 37px #000; }

.borderSucursal {
  box-shadow: 20px 20px 20px #000; }

.borderTop {
  border-top: 2px solid white; }

/* extend */
.formulario__input, .formulario__input--medio {
  background-color: black;
  color: #a3790e; }

.formulario__input--medio {
  color: white; }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .backgroundBlancoMobile {
    background-color: rgba(255, 255, 255, 0.815); }
  .fondo-img-ñoquis-mobile {
    background-image: url(../assets/img/ñoquis-dc.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .fondo-img-fideos-mobile {
    background: url(../assets/img/fideos-mobile.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/* predeterminadas */
.fontGoogle {
  font-family: 'Jost', sans-serif;
  font-weight: 400; }

.kitchen {
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  letter-spacing: 5px; }

.since {
  font-family: 'Allison', cursive;
  font-weight: 600; }

.desde {
  font-family: 'Allison', cursive; }

.direcciones {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 400; }

.fontGold {
  color: #a3790e; }

.fontVerde {
  color: #003614; }

.capitalize {
  text-transform: capitalize; }

.centrarTxt {
  text-align: center; }

.fuente__google--contenido {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  text-align: left;
  color: black; }

/* bucles */
.fontTamanio1 {
  font-size: 10px; }

.fontTamanio2 {
  font-size: 20px; }

.fontTamanio3 {
  font-size: 30px; }

.fontTamanio4 {
  font-size: 40px; }

.fontTamanio5 {
  font-size: 50px; }

.fontTamanio6 {
  font-size: 60px; }

.fontTamanio7 {
  font-size: 70px; }

.fontTamanio8 {
  font-size: 80px; }

.fontTamanio9 {
  font-size: 90px; }

.fontTamanio10 {
  font-size: 100px; }

.footer__fuente {
  font-size: 20px;
  text-align: center; }

.font__encabezado {
  font-size: 50px; }

.font__parrafo {
  font-size: 30px; }

.font__encabezado--fideos {
  font-size: 50px; }

.font__parrafo--fideos {
  font-size: 30px; }

.font__center {
  text-align: center; }

.font__left {
  text-align: left; }

.portada__titulo {
  font-weight: 900; }

/*map-get*/
.font_adrogue {
  font-size: 40px; }

.font__encabezado--fideos {
  font-size: 50px; }

.fontCenter {
  text-align: center; }

.horarios h2 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 25px;
  color: #a3790e; }

.horarios li {
  list-style: none; }

.days {
  font-size: 25px;
  color: black; }

.hours {
  font-size: 15px;
  color: black; }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .footer__fuente {
    font-size: 15px;
    text-align: center;
    margin-bottom: 3px; }
  .imgLogo {
    width: 200px;
    height: 200px; }
  .fuente__google--contenido {
    text-align: center; }
  .empanadas__titulo--mobile {
    font-size: 50px;
    text-align: center; }
  .empanadas__parrafo--mobile {
    font-size: 25px;
    text-align: left; }
  .boxmodCentrarMobile {
    display: flex;
    justify-content: center;
    align-items: center; }
  .fontMobileTitulo {
    font-size: 40px; }
  .fontMobileParrafo {
    font-size: 16px; }
  .footer__fuente {
    font-size: 18px;
    text-align: center; } }

/* Formulario */
.formulario__boxmod {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000; }

.formulario__boxmod h4 {
  font-size: 25px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  padding-bottom: 20px; }

.formulario__boxmod p {
  font-size: 16px;
  text-align: center;
  padding-top: 10px; }

.formulario__input, .formulario__input--medio {
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #d1af59;
  font-size: 18px; }

.botons {
  width: 100%;
  background: #003614;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.horarios {
  padding-bottom: 50px; }

@media only screen and (max-width: 767px) {
  .formulario__boxmod {
    width: 90%;
    margin-top: 0px; } }

/* QUEDE EN 6:00min  https://www.youtube.com/watch?v=8MMTHeGpUgI&ab_channel=SoyAndresGarzon*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px; }

.item {
  background-color: #d1af59;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.095);
  transition: all 300ms;
  position: relative; }

.item::after {
  content: "";
  background-color: rgba(179, 229, 252, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0; }

.item:hover:after {
  opacity: 1;
  transform: scale(1); }

.item:hover {
  transform: scale(1.05); }

.item-text {
  padding: 1em; }

.item-img {
  max-width: 100%;
  display: block; }

.outStyle {
  list-style: none; }

.titulo {
  text-align: center;
  font-family: 'Jost', sans-serif;
  padding: 20px;
  color: white; }

@media screen and (min-width: 590px) {
  .container {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(3, 1fr); } }

.filaPrueba {
  background-color: white;
  color: blue; }

.cards {
  margin: 10px;
  width: 50%;
  height: 90%; }

.cards:hover {
  transition-duration: 3s, 1s;
  transition-property: margin-right; }
