@import "colores";
.fondo {background-color: rgb(209, 175, 89); width: 100%; }  
.fondo-img{
    background-image: url(../assets/img/ravioles-dc.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-img-fideos{
    background-image: url(../assets/img/fideos-dc.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-img-ñoquis{
    background-image: url(../assets/img/ñoquis-dc.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .paralax {
    background-image: url(../img/Green\ and\ Yellow\ Plate\ of\ Pasta\ Direct\ Mail\ Postcard.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    margin-bottom: 50px;
} */

.backgroundVerde {background-color: rgb(0, 54, 20);}
.backgroundGold{background-color: rgb(209, 175, 89);}
.backgroundBlanco {background-color:white;}
.backgroundOscuro {background-color: #222222;}
.backgroundLogoSup {background-color: rgba(255, 255, 255, 0.815);}
.borderBlanco { box-shadow: 7px 13px 37px rgb(255, 255, 255); }
.borderNegro { box-shadow: 7px 13px 37px #000; }
.borderSucursal {box-shadow: 20px 20px 20px #000;}
.borderTop {border-top: 2px solid white;}
/* extend */
.formulario__input{background-color: black; color: $gold;}
.formulario__input--medio{ @extend .formulario__input; color: $blanco;}


/* vista mobile */
@media only screen and (max-width: 767px){
    .backgroundBlancoMobile {background-color: rgba(255, 255, 255, 0.815)}
    .fondo-img-ñoquis-mobile{
        background-image: url(../assets/img/ñoquis-dc.jpg);
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-position:center ;
        background-repeat: no-repeat;
        background-size: cover;
    }
}