@import "colores";
.fondo {background-color: rgb(209, 175, 89); width: 100%; }
.contenido__background {background-color: $verde;}    
.backgroundVerde {background-color: rgb(0, 54, 20);}
.background__gold{background-color: rgb(209, 175, 89);}
/* extend */
.formulario__input{background-color: black; color: $gold;}
.formulario__input--medio{ @extend .formulario__input; color: $blanco;}