@import "tamanios";
@import "colores";
/* camelCase */
.padding {padding-left: 0px; padding-right: 0px;}
.paddingT {padding-top: 40px;}
.paddingB {padding-bottom: 40px;}
.paddingTB {padding-top: 50px;padding-bottom: 50px;}


/* editados de BEM */
.redes__padding{padding-left: 5px; padding-right: 5px; padding-bottom: 15px; text-decoration: none;}
.nosotros__border{ border-style: solid;}
.row {margin-right: 0px; margin-left: 0px;}
.d-flex {justify-content: center;}
.footer__margin{margin-bottom: 3px;}

/* Formulario */

.formulario__boxmod{
    width: 700px;
    background-color: rgb(0, 54, 20);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}
.formulario__boxmod h4 {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.formulario__boxmod p {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.formulario__input {
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(209, 175, 89);
    font-size: 18px;
}
.botons {
    width: 100%;
    background: #1f53;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
.boxmodCentrar {display: flex; justify-content: center; align-items: center;}
/* mixin */
/* @mixin paddingTB ($paddingT, $paddingB){
    padding-top: $paddingT;
    padding-bottom: $paddingB;
}
.boxMod__nosotros{ @include paddingTB (45px,45px)}
.boxMod__entrevista { @include paddingTB (50px,25px)}
.padding__top--botton { @include paddingTB (50px,50px)} */

@media only screen and (min-width: 1024px){
    .navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
    }


@media only screen and (max-width: 767px) {
    .paddingTBmobile {padding-top: 40px;padding-bottom: 20px;}
    .formulario__boxmod {width: 400px;}
}


/* formulario */
.formulario__boxmod {
    border-bottom: 5px solid $gold;
    border-top: 5px solid $gold;
}