
$amarilloFondo:rgb(209, 175, 89);
$azul:blue;
$negro:black;
$blanco:white;
$violeta:violet;
$verde:rgb(0, 54, 20);
$gold: rgb(163, 121, 14);

.colorBlanco{color: white;}
.redes__color--blanco{color: $blanco;}
.color__gold{color: $gold;}
.verde{color:rgb(0, 54, 20);}
.redes__color--twitter:hover{color: rgb(65, 170, 235);}
.redes__color--facebook:hover{color: rgb(24, 24, 119);}
.redes__color--instagram:hover{color: rgb(153, 47, 109);}
.formulario__input:hover {background-color: $blanco; color: $negro;}
.formulario__input--medio:hover {color: $negro;}
.entrevista__color{color: $gold;}
.footer__fuente {color: $blanco;}

/* each */
@each $color in blue, yellow, black, white{
	.#{$color}{
	color:#{$color};
	}
}