/* predeterminadas */
.fontGoogle{
    font-family: 'Jost', sans-serif; font-weight: 600;
}
.fontGold{color: rgb(163, 121, 14)}
.capitalize {text-transform: capitalize;}

.fuente__google--contenido{
    font-family: 'Jost', sans-serif; font-weight: 600;
    text-align: left;
    color: black;
}
.font__google--black{
    font-family: 'Jost', sans-serif; font-weight: 600;
    color: black;
}
/* bucles */
@for $i from 1 through 10 {
	.fontTamanio#{$i}{
	font-size:10px * $i;
	}
}

.footer__fuente {font-size: 20px;  text-align: center;}
.font__encabezado{font-size: 50px; }
.font__parrafo{font-size: 30px; }
.font__encabezado--fideos{font-size: 50px;}
.font__parrafo--fideos{font-size: 30px;}
.font__center{text-align: center;}
.font__left{text-align: left;}


/*map-get*/
$estilos: (
  tFuente: 40px,
  ttFuente:50px,
  tttFuente:center
);

.font_adrogue{
  font-size:map-get($estilos, tFuente);
}
.font__encabezado--fideos{
    font-size:map-get($estilos, ttFuente);
}
.fontCenter{
    text-align:map-get($estilos, tttFuente);
}


/* FORMULARIO/CONTACTO */
.fuente__acceso {color: rgb(163, 121, 14) ;text-align: center;}

.styleOut {
    list-style: none;
}


/* vista mobile */
@media only screen and (max-width: 767px){
    .footer__fuente{font-size: 15px; color: white; text-align: center; margin-bottom: 3px;}
    .imgLogo {width: 200px; height: 200px;}
    .fuente__google--contenido{text-align: center;}
    .empanadas__titulo--mobile{font-size: 50px; text-align: center}
    .empanadas__parrafo--mobile{font-size: 25px; text-align: left;}
    .boxmodCentrarMobile {display: flex; justify-content: center; align-items: center;}
    .fontMobileTitulo{font-size: 40px;}
    .fontMobileParrafo{font-size: 20px;}
    .footer__fuente {font-size: 18px;  text-align: center;}
}